@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import 'globals';
@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';

body {
  background-color: rgb(255, 255, 255) !important;
}

 .footer {
  background-color: #160033 !important;
 }

 .footer-text {
   color: #ffffff !important;
 }
